@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Climate+Crisis&display=swap');

// global font family
$myfont: 'Cabin', sans-serif;
$myfont2: 'Climate Crisis', sans-serif;

// global colors
$color-1: #67e89b;
$color-2: #3ea68e;
$color-3: #2e2725;
$color-4: #f3ffff;

// global gradient colors
$gradient-1: linear-gradient(73deg, rgba(163,230,203,1) 0%, rgba(180,220,4,1) 40%, rgba(0,208,201,1) 100%);
$gradient-2: linear-gradient(73deg, rgba(163,230,203,1) 0%, rgba(4,220,216,1) 40%, rgba(0,184,208,1) 100%);