@use './global.scss' as g;
@import './texts.scss';
@import './carpreview.scss';


* {
    font-family: g.$myfont;
}

html, body, #root{
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}

// must be devorse header [65px]
main{
    min-height: calc(100vh - 65px);
    position: relative;
}